{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * csv-to-category-importer plugin for Craft CMS 3.x
 *
 * csv-to-category-importer index.twig
 *
 * @author    Sam Henderson
 * @copyright Copyright (c) 2018 Sam Henderson
 * @link      http://samhenderson.xyz/
 * @package   Csvtocategoryimporter
 * @since     1.0.0
 */
#}


{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% do view.registerAssetBundle("workyard\\csvtocategoryimporter\\assetbundles\\csvtocategoryimporter\\CsvtocategoryimporterAsset") %}
{% do view.registerAssetBundle("workyard\\csvtocategoryimporter\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/shenders13/csv-to-category-importer/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "CSV to location category importer" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('csv-to-category-importer') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@workyard/csvtocategoryimporter/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('csv-to-category') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <p>Here's what you do:</p>
    <ul>
        <ol>1. Enter the URL of the CSV you want to import (you may want to put it in an S3 bucket first). The CSV file must be formatted like in the table below.</ol>
        <ol>2. Click "Upload Categories"</ol>
        <ol>3. Wait</ol>
        <ol>4. Look at the report to check if anything failed.</ol>
    </ul>
    <br/>

    <form action="" method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        <p>Enter URL of file e.g. http://craft.test/assets/data/ToyLocationImport.csv</p>
        <input type="text" name="url" placeholder="URL of file" class="file-name-input"><br/><br/>
        <input type="hidden" name="redirect" value="/admin/csv-to-category-importer">
        <input type="hidden" name="action" value="csv-to-category-importer/import-csv/upload-csv">
        <input class="btn submit" type="submit" value="{{ 'Upload Categories'|t }}">
    </form>

    <p>The CSV you upload must have the following format:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Slug</th>
            <th>Parent Category</th>
            <th>Nearby Locations</th>
        </tr>
        <tr>
            <td>Los Angeles</td>
            <td>34.0523</td>
            <td>-118.2446</td>
            <td>los-angeles</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Manhatten Beach</td>
            <td>34.0526</td>
            <td>-118.2464</td>
            <td>manhatten-beach</td>
            <td>los-angeles</td>
            <td>santa-monica,palos-verdes-estate</td>
        </tr>
        <tr>
            <td>Santa Monica</td>
            <td>34.0595</td>
            <td>-118.2464</td>
            <td>santa-monica</td>
            <td>los-angeles</td>
            <td>manhatten-beach</td>
        </tr>
        <tr>
            <td>Palos Verdes Estate</td>
            <td>34.0326</td>
            <td>-118.2484</td>
            <td>palos-verdes-estate</td>
            <td>los-angeles</td>
            <td>santa-monica</td>
        </tr>
    </table>




{% endset %}

