{% extends "_layouts/cp" %}
{% set title = "Records you uploaded." %}
{% do view.registerAssetBundle("workyard\\csvtocategoryimporter\\assetbundles\\csvtocategoryimporter\\CsvtocategoryimporterAsset") %}

{% set content %}

    <a href="/admin/categories/locations"><button class="'btn redirect">Go to location categories</button></a>

    <table class="table">
        <th class="table-header">Location</th>
        <th class="table-header">What happened</th>
        {%  for location in report %}
            <tr>
                <td class="table-cell">{{ location.title }}</td>
                <td class="table-cell">{{ location.status }}</td>
            </tr>
        {% endfor %}
    </table>
{%  endset %}
